<h1>Sign-up</h1>
<p>Please register as a new user</p>
<form action="/users" method="post" enctype="multipart/form-data">
  <label>
    First Name <input type="text" name="firstName" id="firstName">
  </label>
  <label>
    Last Name <input type="text" name="lastName" id="lastName">
  </label>
  <label>
    Email <input type="email" name="email" id="email">
  </label>
  <label>
    Password <input type="password" name="password" id="password">
  </label>
  <label>
    Avatar Image <input type="file" name="avatar" id="avatar">
  </label>
  <button type="submit">Register</button>
</form>